
  
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form [formGroup]="formLoginGroup" (ngSubmit)="onSubmit()">

    
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginName">Email or username</label>
          <input type="email" id="loginName" formControlName="txtUsername" class="form-control" />
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Password</label>
          <input type="password" id="loginPassword" formControlName="txtPassword" class="form-control" />
        </div>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
 
  
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
  
        <!-- Submit button -->
        <button type="button" (click)="onSubmit()" class="btn btn-primary btn-block mb-4">Login</button>
  
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
        </div>

      </form>
    </div>
</div>